---
import Layout from "../layouts/Layout.astro";
import Image from "../components/Image.astro";
import img from "../../public/images/bestyrelse.jpg";

const BOARD = [
  {
    name: "Lars Henrik Munch",
    title: "bestyrelses&shy;formand",
    post: "formand",
  },

  {
    name: "Dorte Mandrup-Poulsen",
    title: "arkitekt MAA",
    post: "næst&shy;formand",
  },

  {
    name: "Michael Pram Rasmussen",
    title: "bestyrelses&shy;formand",
  },

  {
    name: "Minik Thorleif Rosing",
    title: "professor",
  },

  {
    name: "Inge Berneke",
    title: "SVP, Corporate Affairs",
  },
  {
    name: "Anders Byriel",
    title: "adm. direktør",
  },
];

const MANAGEMENT = [
  { name: "Poul Erik Tøjner", title: "Museums&shy;direktør" },
];
---

<Layout>
  <Image src={img} />

  <h1>Bestyrelse</h1>

  <ul class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    {BOARD.map((member) => (
      <li>
        <div class="font-bold">{member.name}</div>
        <div>{member.title}</div>
        {member.post && <div>({member.post})</div>}
      </li>
    ))}
  </ul>

  <h2 class="pt-6">Direktion</h2>
  <ul class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    {MANAGEMENT.map((member) => (
      <li>
        <div class="font-bold">{member.name}</div>
        <div>{member.title}</div>
      </li>
    ))}
  </ul>
</Layout>
